[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eks"]
	path = eks
	url = https://github.com/cran/eks
[submodule "feature"]
	path = feature
	url = https://github.com/cran/feature
[submodule "ks"]
	path = ks
	url = https://github.com/cran/ks
[submodule "prim"]
	path = prim
	url = https://github.com/cran/prim
